.road{
    margin:0 auto;
    position: relative;
}
.player{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}
.cars{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}
.lose{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 3;
    position: absolute;
    top:0;
}
.lose h1{
    margin:30% 40%;
    color:red;
}